{% extends 'tours/base.html' %}
{% block container %}


    <h1 class="display-5 mt-4">Летим <span data-test="from">{{ departure }}</span></h1>
    <p class="mb-4" >Найдено <span data-test="tourcount">{{ stats.tour_count }}</span> туров, от <span data-test="pricemin">{{ stats.min_price }}</span> до <span data-test="pricemax">{{ stats.max_price }}</span> и от <span data-test="nightsmax">{{ stats.min_nights }}</span> ночей до <span data-test="nightsmax">{{ stats.max_nights }}</span> ночей</p>
    <!-- HERO -->



    <!-- CARDS -->

      <div class="row mt-5" data-test="cards">
    {% for key, value in dep_tours.items %}
        <div class="col-4" data-test="card">
            <div class="card mb-3" >
            <img src="{{ value.picture }}" class="card-img-top img-fluid" data-test="picture">
            <div class="card-body">
              <h5 class="card-title">{{ value.title }}</h5>
             <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="/tour/{{ key }}/" class="btn btn-sm btn-primary" data-test="tourlink">Подробнее</a>
            </div>
        </div>
        </div>
    {% endfor %}
    </div>

{% endblock %}