{% extends 'tours/base.html' %}
{% block container %}
 <!-- HERO -->

    <div class="jumbotron text-center mt-4">
      <h1 class="display-4">{{ title }}</h1>
      <p class="lead">{{ subtitle }}</p>
      <p class="mt-5 w-50 mx-auto">{{ description }}</p>
    </div>

    <!-- CARDS -->

    <div class="row mt-5" data-test="cards">
    {% for key, value in random_dict.items %}
        <div class="col-4" data-test="card">
            <div class="card mb-3" >
            <img src="{{ value.picture }}" class="card-img-top img-fluid" data-test="picture">
            <div class="card-body">
              <h5 class="card-title">{{ value.title }}</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                    <div class="row">
                        <div class="col">{{ value.date }}, {{ value.nights }} дней, {{ value.price }} Р</div>
                        <div class="col">{{ value.stars }}<i class="material-icons">grade</i></div>
                    </div>


                <a href="tour/{{ key }}/" class="btn btn-sm btn-primary" data-test="tourlink">Подробнее</a>
            </div>
        </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
